<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskFlow Corp - Sistema Interno</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>TaskFlow Corp | Gestão Interna</h1>
        <nav class="nav-menu">
            <a href="{{ url_for('home') }}" class="nav-menu-item">Início</a>
            <a href="{{ url_for('gerenciar_atividades') }}" class="nav-menu-item">Gerenciar Atividades</a>
            <a href="{{ url_for('gerenciar_pessoas') }}" class="nav-menu-item">Gerenciar Pessoas</a>
            <a href="" class="nav-menu-item">Gerenciar Recursos</a>
            <a href="" class="nav-menu-item">Gerenciar Tipos</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 TaskFlow Corp - Painel Administrativo do Colaborador</p>
    </footer>
</body>
</html>